* {
	margin: 0;
}
@font-face {
	font-family: "Abril";
	src: url("./AbrilFatface-Regular.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
body {
	margin: 0;
   font-family: 'Chivo Mono', monospace;
}
.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("./images/hero-lagos.jpg");
   background-size: cover;
	background-position: center;
	height: 98vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
   text-align: center;
   margin: 0;
   border-bottom: 10px solid skyblue;
}
.hero > h1 {
	/* font-family: "Abril", cursive; */
   font-size: 50pt;
   margin-bottom: 50px;
   /* letter-spacing: 5px; */
   color: wheat;
   text-shadow: 0 0 5px black;
}
#lagos{
   /* background: skyblue; */
   border-bottom: 7px solid skyblue;
   padding: 3px 5px;
   border-radius: 5px;
}
.hero > h3{
   font-size: 24pt;
   color: white;
   text-shadow: 0 0 4px black;
   margin: 20px 0 10px;
}
#theme{
   background-color: wheat;
   padding: 0 10px;
   border-radius: 5px;
}
.hero > p {
   font-size: 18pt;
   color: white;
   text-shadow: 0 0 5px black;
   margin: 20px;
   font-style: italic;
   margin: 0;
}

.activities {
   /* background-color: rgb(173, 221, 240); */
   background-color: wheat;
   padding: 50px 0;
   text-align: center;
   margin: 0;
   /* border-bottom: 10px solid skyblue; */
}
.activities > h4{
   font-size: 24pt;
   text-shadow: 0 0 1px black;
   margin-bottom: 50px;
}
.activities-container{
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.activity{
   width: 300px;
   padding: 20px;
   height: 500px;
   margin: 0 auto 10px;
}
.activity img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-bottom: 20px;
}
.activity > h5{
   font-size: 22pt;
   margin-bottom: 10px;
   letter-spacing: 2px;
   font-weight: bold;
}
.activity a{
   border-bottom: 2px solid white;
   text-decoration: none;
   color: black;
}
.activity a:hover{
   border-bottom: 2px solid skyblue;
   transition: 0.5s;
}

.escape{
   background: url('./images/escape-lagos.jpg');
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 40vh;
   border-bottom: 10px solid skyblue;
}

.guide{
   /* background-color: rgb(224, 241, 247); */
   background-image: url("./images/busy-lagos.jpg");
   background-size: cover;
   
   padding: 50px;
}
.guide-container{
   display: block;
   margin: 0 auto;
   padding: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: wheat;
   width: 50%;
}
#guide-farhan{
   box-shadow: 10px 10px skyblue;
   border: 3px solid skyblue;
}
#guide-farhan:hover{
   box-shadow: 20px 20px skyblue;
   transition: 1s;
   cursor: pointer;
}
.guide-details{
   width: 50%;
   padding: 20px;
   text-align: center;
}
.guide-details > h3{
   font-size: 24pt;
   margin-bottom: 10px;
   text-shadow: 0 0 1px black;
}
#person{
   font-size: 18pt;
   margin-top: 40px;
   text-shadow: 0 0 1px black;
}
.socials{
   display: flex;
   align-items: center;
   justify-content: center;
}
.socials img{
   width: 50px;
   height: 50px;
   margin: 20px 5px;
}
.socials img:hover{
  scale: 1.5;
  transition: 0.5s;
}

footer{
   background-color: skyblue;
   padding: 20px;
   text-align: center;
   color: white;
   font-size: 12pt;
   font-weight: bold;
}
footer a {
   color: wheat;
   text-shadow: 0 0 2px black;
}
footer a:hover{
   color: black;
   text-shadow: 0 0 2px wheat;
}