*{
   margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
body{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-family: 'Karla', sans-serif;
   background-color: #1C1C1C;
}
main{
   background-color: #ECFDF5;
   width: 40%;
   padding: 50px;
}
h1{
   color: #2B283A;
   margin-bottom: 10px;
   font-size: 28pt;
   /* text-shadow: 0 0 1px black; */
}
#highlight{
   color: #10B981;
   display: block;
}
#theme{
   color: #6B7280;
   margin-bottom: 30px;
   font-size: 14pt;
}
#generate-password{
   border: none;
   background-color: #10B981;
   color: white;
   font-family: inherit;
   font-size: 12pt;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 5px;
   margin-bottom: 30px;
   margin-top: 20px;
}
#generate-password:hover{
   background-color: #059669;
}
#advanced-option{
   color:#1C1C1C;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   width: 180px;
   cursor: pointer;
   margin-bottom: 20px;
}
#advanced-option:hover{
   border-bottom: 3px solid #5DEF92;
}
.hidden{
   display: none;
}
.options{
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
.option-row{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 10px;
}
.option-input{
   display: flex;
   align-items: center;
}
#password-length{
   margin-left: 20px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
#error{
   color: red;
   font-size: 10pt;
   margin-bottom: 10px;
}
#add-numbers, #add-symbols{
   margin-left: 30px;
   cursor: pointer;
   width: 50px;
}
#advanced-info{
   color: #6B7280;
   font-size: 10pt;
   font-style: italic;
}



#passwords{
   border-top: 3px solid #D5D4D8;
   padding-top: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#password1, #password2{
   background-color: #273549;
   padding: 7px 15px;
   width: 170px;
   height: 20px;
   color: #5DEF92;
   font-family: 'Courier New', Courier, monospace;
   font-size: 14pt;
   font-weight: bold;
   border-radius: 5px;
}
.password-row{
   display: flex;
   align-items: center;
}
.clipboard{
   font-size: 18pt;
   cursor: pointer;
   background-color: #5DEF92;
   margin-left: 5px;
   border-radius: 3px;
}
.clipboard:hover{
   background-color: #6B7280;
}
.copy-info-error{
   color: red;
}