@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
	margin: 0;
   font-family: 'Roboto', sans-serif;
}
header {
	background-color: #5f29a3;
	padding: 30px 0;
}

header h1 {
	font-size: 2.5rem;
	margin: 0;
	color: whitesmoke;
	margin-bottom: 15px;
}
header h3 {
	font-size: 1.17rem;
	margin: 0;
	color: #d0aaff;
}

h2{
   margin: 0;
}
section{
   padding: 50px 0;
   /* width: 900px; */
   margin: 0 auto;
   color: #2b283a;
}
.container{
   max-width: 80%;
   margin: 0 auto;
}
section h2{
   font-size: 1.67rem;
   margin-bottom: 30px;
}
section img{
   width: 100%;
   /* height: auto; */
}
section p{
   font-size: 1.17rem;
   line-height: 1.5;
}
a{
   color: #ef5839;
   text-decoration: none;
}
a:hover{
   color: #d4b44c;
}

.section2{
	background-color: #5f29a3;
   color: whitesmoke;
}
.image-container{
   display: flex;
   justify-content: space-between;
   /* gap: 20px; */
}
.image-container img{
   /* width: 500px; */
   width: 48%;
   /* min-width: 150px; */
   border-radius: 10px;
}
.link{
   padding: 10px 19px;
   border-radius: 4.6px;
   font-weight: bold;
   display: inline-block;
   margin: 0;
   text-align: center;    
}
.buy{
   background-color: #5f29a3;
   color: whitesmoke;
}
.info, .contact{
   background-color: #f0e0ff;
   color: #5f29a3;
}
.about{
   background-color: whitesmoke;
   color: #5f29a3;
}
.link:hover{
   background-color: #f3e885;
   color: #2b283a;
}

footer{
   font-size: 1.17rem;
   color: #5f29a3;
   text-align: center;
}

@media screen and (max-width: 500px){
   .image-container{
      flex-direction: column; 
   }
   .image-container img{
      width: 100%;
      margin-bottom: 20px;
   }
   .link{
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;  
   }
}
   