body{
   padding: 20px;
   min-width: 600px;
   font-family: 'Courier New', Courier, monospace;
}
#url-input{
   padding: 5px 10px;
   font-size: 14pt;
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 10px;
   font-family: inherit;
   font-weight: 500;
   border: 2px solid rgb(211, 122, 14);
}
#info{
   color: rgb(211, 122, 14);
   margin-bottom: 10px;
   font-weight: bold;
   font-size: 14pt;
}
button{
   font-family: inherit;
   font-weight: bold;
   border: none;
   padding: 7px 14px;
   font-size: 14pt;
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 0 0 1px black;
}
#save-input, #save-tab{
   background-color: blanchedalmond;
}
#delete{
   background-color: transparent;
   border: 1px solid rgb(211, 122, 14);
}
#delete:hover{
   background-color: rgb(239, 161, 66);
}
#save-input:hover, #save-tab:hover{
   background-color: rgb(239, 161, 66);
}

#saved-items{
   list-style: none;
   padding: 0;
   margin-top: 30px;
}
li{
   margin-bottom: 10px;
   font-size: 14pt;
   font-weight: bold;
   color: rgb(211, 122, 14);
}
a{
   color: rgb(211, 122, 14);
}
a:hover{
   color: black;
}